# Supabase Database Credentials (Add these in Vercel Project Environment Variables)
VITE_SUPABASE_URL=https://dmxfrlalsteybezkstec.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRteGZybGFsc3RleWJlemtzdGVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2NDkxMDcsImV4cCI6MjEwNTIyNTEwN30.2_Z4D2t9kTSmt0wkzuFUycrYq2fmLHN66YzesNDwaSA
